.long{
    border: 1px solid rgb(176, 119, 255);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;

}
p{
    margin-top: 15px;
}
body{
    background: whitesmoke;
}
.short{
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid rgb(176, 119, 255); 
}
.whole{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
   margin-top: 20px;
   gap: 10px;
}
.tip{
   margin-top: 50px;  
}
.long{
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap:5px;
    color: navy;
    font-size: 15px;
    font-weight: 800;
}
.short{
    font-size: 15px;
    font-weight: 800;
    gap:5px;
    display: flex;
    color: navy;
    flex-direction: row; 
    width: fit-content;
}
.nav{
    height: 100px;
    width:100%;
    background:black;
    color: white;
    font-size: 35px;
}
span{
    color: yellow;
font-weight: 700;
font-size: 40px;
}
.head{
    margin-top: 15px;
    margin-left: 20px;
}
.box{
    display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}
.enter{
    height: 50px;
    width: 500px;
    border-radius: 5px;
    border: 2px solid navy;
}
button{
    border: 1px solid navy;
    background: navy;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-left: 10px;
    font-weight: 600;
}